Django
djangorestframework
psycopg2
python-dotenv
djangorestframework-simplejwt
vietnam-provinces

# django-taggit
# django-s3direct
# requests
# Pillow
# django-storages
# boto3
# django-ckeditor
# celery
# redis
# django-cors-headers