@import './styles/common/Button.css';
@import './styles/common/InputField.css';
@import './styles/common/FormError.css';
@import './styles/common/User.css';
@import './styles/dashboard/InfoContainer.css';
@import './styles/dashboard/Notification.css';
@import './styles/dashboard/Dashboard.css';
@import './styles/checkroom/Checkroom.css';
@import './styles/login/Login.css';
@import './styles/common/HomePage.css';
@import './styles/common/Box.css';
@import './styles/profile/Profile.css';
@import './styles/profile/Avatar.css';
@import './styles/profile/SummaryInfo.css';
@import './styles/profile/RoomInfo.css';
@import './styles/common/Modal.css';
@import './assets/icons/uicons-solid-rounded/css/uicons-solid-rounded.css';
@import './assets/icons/uicons-regular-rounded/css/uicons-regular-rounded.css';
@import './styles/account/Account.css';
@import './styles/common/Pagination.css';
@import './styles/common/Alertness.css';
@import './styles/common/Box.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import './styles/common/general.css';
