.style-roomOfArea {
  margin: 10px;
  background-color: #fe6276;
  color: #fff;
}
.style-roomOfArea > p {
  margin: 0 0 10px 10px;
  font-size: larger;
  font-weight: 700;
}
.style-student {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}
