.style-dashboardContainer {
  height: 100vh;
  padding: 20px;
  background: url('../../assets/images/backgrounds/background.jpg') center/cover
    no-repeat;
}
.style-summaryFiguresContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 50%;
}
.notificationsContainer {
  border-radius: 20px;
  box-shadow: rgba(71, 71, 71, 0.2) 0px 0px 15px;
  padding: 15px;
  background-color: #fff;
}
.notificationsContainer i {
  margin: 10px;
  font-size: 20px;
}
.style-notiTitle {
  margin: 15px;
  font-size: 20px;
  font-weight: 700;
  color: #000 !important;
}
