@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 17px 0px 30px;
  min-height: 8vh;
  background-color: #5d4954;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  min-height: 8vh;
  background-color: #5d4954;
}
.logo {
  font-size: 20px;
  color: aliceblue;
  text-transform: capitalize;

}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-links li {
  list-style-type: none;
  margin: 0px 20px;
  padding: 0;
}

.nav-links a {
  color: aliceblue;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 16px;
}
.nav-links a:hover {
  text-decoration: none;
  opacity: 0.5;
}
.footer {
  display: none;
}


