.notification-item-box {
    background-color: rgb(255, 224, 229);
    height: fit-content;
    border-radius: 8px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .notification-item-box__title {
    padding: 2% 0 2% 10%;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
  }
  .notification-item-box__content {
    padding: 2% 0 3% 15%;
    font-size: 24px;
    font-weight: 500;
  }
  .notification-item-box__footer {
      text-align: end;
      padding: 0% 3% 3% 0%;
      font-size: 20px;
  }
  