@use '~scss/vars' as *;
@use '~scss/mixin' as *;

.cmp-navbar {
  box-shadow: 0px 4px 20px rgba(224, 224, 224, 0.5);
  .cmp-navbar {
    &__branch {
      align-items: center;
    }

    &__burger {
      background-color: $white;
      @include focus {
        border: none;
      }
    }
    &__logo {
      width: 150px;
      object-fit: contain;
      padding: 0 8px;
    }
    &__end {
      display: flex;
      align-items: center;

      &--item {
        margin: 0 20px;

        &--link {
          color: $header;
          height: $navbar-height;
          line-height: $navbar-height;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0%;
            height: 4px;
            background-color: $primary;
            margin: auto;
            transition: $default-transition;
          }

          @include hover {
            color: $header;
            text-decoration: none;

            &::before {
              width: 100%;
            }
          }

          @include focus {
            text-decoration: none;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &--disabled {
          display: none;
        }

        &--active::before {
          width: 100%;
        }
      }
    }
  }
  @include desktop {
    .cmp-navbar {
      &__end {
        flex-direction: column;
        align-items: flex-start;
        &--item {
          margin: 0;
          padding: 4px 8px;

          &--button {
            margin: 4px 8px;
          }

          &--link {
            display: block;
            width: 100%;
            height: auto;
            line-height: 1.5;

            &::before {
              content: none;
            }

            @include hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  @include mobile {
    .cmp-navbar__end {
      &--item--link {
        font-size: 16px;
        padding: 8px;
      }
    }
  }
}
